/// Primary colors

// Primary
$primary: #3f51b5;
$primary-dark: #303f9f;
$primary-off-white: #f6f7ff;


/// Supporting colors
$action: #ff5252;
$action-dark: #c93d3d;

/// Greys

// White
$white: #fff;

// Grey offwhite
$grey-lightest: #f3f3f3;

$grey-lighter: #5d5d5d;

// Grey light
$grey-light: #e3e6e8;

// Soft grey
$grey: #b0b7bc;

// Slate grey
$grey-dark: #565656;

// Slate grey, dark
$slate-grey-dark: #293339;

$black: #000;
