@import '../reference/index';

$block: 'logo';

.#{$block} {
	align-items: center;
	display: flex;
	justify-content: center;

	&__picture {
		display: block;

		img {
			display: block;
			max-width: 100%;
			height: 100px;
		}
	}
}
