@import '../reference/index';

$block: 'philosophy-panel';

.#{$block} {
	&__container {
		@include container;

		color: $white;
		padding-bottom: 2rem;
		padding-top: 2rem;

		@include media-min(md) {
			padding-bottom: 4.875rem;
			padding-top: 4.875rem;
		}

		.row {
			&:first-child {
				@include media-min(md) {
					.column {
						margin-top: 0;
					}
				}
			}
		}
	}
	
	&__heading {
		@include font-size-33;

		margin: 0;
		padding-bottom: 1.5rem;
		position: relative;
		text-transform: uppercase;

		&::after {
			border-bottom: 2px solid $white;
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			width: 4rem;
		}

		& + * {
			margin-top: 1.5rem;
		}
	}
}