@import '../reference/index';

$block: 'hero-panel';

.#{$block} {
	background-color: $primary;
	color: $white;
	display: flex;

	&--center {
		align-items: center;
		justify-content: center;
	}

	&__carousel {
		max-width: 100%;
		min-height: 30rem;
		width: 100%;
	}

	&__item {
		background: $primary-dark;
		background-position: center;
		background-size: cover;
		box-sizing: border-box;
		padding-bottom: 4rem;
		padding-top: 4rem;
	}

	&__container {
		@include container;

		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
		text-align: center;

		&--left {
			justify-content: flex-start;
			text-align: left;
		}

		&--right {
			justify-content: flex-end;
			text-align: right;
		}
	}

	&__content {
		max-width: 25rem;

		*:first-child {
			margin-top: 0 !important;
		}

		*:last-child {
			margin-bottom: 0 !important;
		}

		h1 {
			@include font-size-40;

			@include font-weight(600);

			line-height: 1.2;
			margin-bottom: 2rem;
			margin-top: 2rem;
			text-transform: uppercase;

			@include media-min(xs) {
				@include font-size-57;
			}
		}

		p {
			@include font-size-16;

			@include media-min(md) {
				@include font-size-23;
			}
		}
	}
}
