---
title: Our Story
layout: default.hbs
---

<section class="hero-panel hero-panel--center panel">
	<div class="panel__container">
		<h1 class="hero-panel__heading">About Us</h1>
	</div>
</section>

<section class="about-panel panel">
	{{!-- <nav class="about-panel__nav nav">
		<ul class="nav__list">
			<li class="nav__item"><a href="our-story.html" class="nav__link">Our story</a></li>
			<li class="nav__item"><a href="mission.html" class="nav__link">Mission</a></li>
			<li class="nav__item"><a href="vision.html" class="nav__link">Vision</a></li>
			<li class="nav__item"><a href="values.html" class="nav__link">Values</a></li>
		</ul>
	</nav> --}}
	<div class="panel__container panel__container--small">
		<div class="about-panel__content">
			<h2>About Us</h2>
			<p>Home health care matters can be very challenging, stressful and worrisome for you and your family. And we understand that sometimes this can be very personal. And this is our promise -</p>

			<center><h2 style="text-transform: uppercase">We stand by you</h2></center>

			<p>Thereby, <b>Geri Health Home Care</b> is guided by Primary Care as our model of care. Thus, as our registered clients, you will have a <b>“Primary Nurse and/or Caregiver”</b> who will do regular checks on you and reporting to the Care Coordinator.</p>

			<figure class="about-panel__figure">
				<img src="/images/medical-checkup.jpg" alt="">
				<figcaption>Geri Health Home Care</figcaption>
			</figure>

			<p>The Care Coordinator will further do thorough assessments and health teachings as needed, help to follow up your changing health care needs and will collaborate and advocate for you to connect to other community resources and health care support system as needed.</p>

			<h2 data-topic-header>Mission</h2>

			<p>Geri Health Home Care is committed in providing the highest standard of care, client-centered and reliable Home Care services to its clients to assist them to achieve dignified, optimum quality of life, and maintain independent lives in the comfort and safety of their own homes. Their individual needs are carefully assessed, understood and met through the selective assignment of experienced, qualified, trustworthy and compassionate personnel.</p>

			<h2 data-topic-header>Vision</h2>

			<p>Geri Health Home Care aspires to consistently be known and valued for providing the highest standard of in-home care services, as we vision to help build a healthy client and their families and community-at large by maintaining and restoring health and wellness through an easy accessibility of our advance and innovative primary home care model delivery of care to clients’ home.</p>

			<h2 data-topic-header>Values</h2>

			<p><b>Compassionate</b> – Our caring staffs are dedicated in providing compassionate care
			<br>
			<br><b>Accountable</b> – We take responsibility making sure you received the service care plan in placed.
			<br>
			<br><b>Respect</b> – With our diverse population we respect to each individual’s dignity and well-being and your health needs
			<br>
			<br><b>Excellence</b> – We are committed to maintain the highest standard of care by giving ongoing educational opportunities for all staff and keep their practice and guided by the evidence-best practices.</p>
			
			<h2 data-topic-header>Our Philosophy of Care</h2>
			
			<p>Our Philosophy of care is our key navigation in achieving positive outcome and experience for all our clients.</p>
			<br>
			<p>Our philosophy of care is to deliver the best possible care driven by our mission and vision and well equipped with our values which also include empathy and caring heart. </p>
			<br>
			<p>The best possible care as we say because our practice is guided by evidence-based practice. We maintain to keep our knowledge and training current to deliver with confidence and keep up with the complexity of care and uniqueness of life situation of each our client. </p>
			<br>
			<p>We approach you with empathy and caring heart. As much as we are compassionate, we are empathetic on any unique situations our clients may have. With open-mind, we understand your health care needs and we approach it with caring hearts. We believe that, what we do is not just a job but rather we view it with accountability. And that is why it is significant for us to build a trusting professional relationship to work collaboratively with you and your family and everyone who is involve in your care. </p>
		
		
		</div>
	</div>
</section>