---
title: Client Resources
layout: default.hbs
---

<section class="panel">
	<div class="panel__container panel__container--small">
		<h2>How do we deliver our mission?</h2>
		<ol>
			<li>Our Registered Nurse Case Coordinator will do an in-depth in-home assessment. She will assess the health care needs you and your family may need.
					** Note that this is free and no obligation service**
			</li>
			<li>We listen, value and prioritize what matters to you and your family the most. Accordingly, with your actively participation, we establish individualized service care plan for you.</li>
		</ol>
	3.	We establish primary care program which you will have a primary caregiver who will provide you ongoing support, collaboratively work with you, your family and liaise to your community resources and health care team as needed.
	4.	We do ongoing evaluation of the effectiveness of your service care plan and will revise the plan as needed.
	5.	Our on-call services is available 24/7 .  Contact us: 416-431-6266
	</div>
</section>