---
title: Contact Us
layout: default.hbs
---

<section class="hero-panel hero-panel--center panel">
	<div class="panel__container">
		<h1 class="hero-panel__heading">Contact Us </h1>
	</div>
</section> 

<section class="contact us panel--center">
	<div class="panel__container">
		<h2 class="panel__heading">Contact Us</h2>
			<p><br>Office location: <a href="https://goo.gl/maps/2Zjttg18cey" target="_blank"><u>Suite LL26</u> - 1200 Markham Rd. Toronto, Ontario M1H 3C3</a></p>
			<p>Phone number: 416-431-6266 </p>
			<p>Email: info@gerihealthhomecare.ca </p>
	</div>
</section>

<center><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d720.1968359506602!2d-79.2331485!3d43.777273!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4d0f7e2ae2add%3A0x3ad56ead9f83af56!2s1200+Markham+Rd%2C+Scarborough%2C+ON+M1H+2Y9!5e0!3m2!1sen!2sca!4v1532025511249" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></center>