---
title: Get Started
layout: default.hbs
---

<section class="hero-panel hero-panel--center panel">
	<div class="panel__container">
		<h1 class="hero-panel__heading">Get Started</h1>
	</div>
</section> 

<section class="get started panel__container--small">
<div class="panel__container panel__container--small">
		<div class="about-panel__content">
			<center><h2 data-topic-header>Get Started</h2></center>
			
			<p>Geri Health Home Care is committed on providing the best possible care and experience to our clients. Sometimes, home health care matters can be complex, challenging and stressful.</p>
			<br>
			<p>Our team is here for you every step and you will be guided through the process. You will be engaged and empower to make your health care decisions. In collaboration with your Client Care coordinator, yourself and your family, we will set up your care plan that is personalized and fits to your unique health needs. </p>
			
			<h2>The Process on Getting Started</h2>
			<br>
			
			<ul>
				<li>First, our Client Care Coordinator will meet with you to introduce our Company has to offer and discuss client’s needs. You will review agreements, financial obligations and possible options. </li>
				<li>The Client Care Coordinator will do an in-depth assessment in the home, client’s needs and health care support. In collaboration with you and/or your family, a service plan will be developed, detailing the services, interventions and timing of other activities, making sure that we are addressing all client’s needs. In this plan, it also specifies the set goals and expectations of the clients. </li>
				<li>All documents need to be sign by client or client’s representative which include service agreement, service plan and the form with the statement of rights and responsibilities of client and the Company.</li>
				<li>Geri Health HC will assign you with the appropriate best caregiver that matches your home health care needs and caregiver’s education, training and experience.</li>
				<li>The Client Care Coordinator will introduce you to your assigned Personal Support Worker or Nurse (depends on your needs), will do an orientation about the care plan and if there are special instructions and answer your questions you may have will clarified.</li>
				<li>The Personal Support Worker or Nurse will do daily report to Client Care Coordinator in addition to their documentation in Client’s Confidential Record. This to ensure that your needs are being met. </li>
				<li>The Client Care Coordinator will do home visits every 2-4 weeks to do ongoing assessment, evaluate the effectiveness of current care plan and revised care plan as needed to fit into your changing health care needs.       </li>
			</ul>
		</div>
</div>
</section>

<section class="contact panel panel--center">
	<div class="panel__container">
		<h2 class="panel__heading">CONTACT</h2>
		<div class="divider"></div>
		<p class="panel__text">Use the form below for more information and pricing  
			<br>or Call or message us for help.</p>
		<p class="panel__text"><b>416-431-6266</b>
			<br><b>info@gerihealthhomecare.com</b></p>
			<form class="af-form acf-form" method="POST" action="http://gerihealthhomecare.ca/" id="form_5b1368777a5e2"><div class="af-fields acf-fields acf-form-fields"><div id="acf-form-data"><input type="hidden" name="_acfnonce" value=""></div><div class="acf-hidden"><input type="hidden" name="af_form" value="form_5b1368777a5e2"><input type="hidden" name="af_form_args" value="eyJkaXNwbGF5X3RpdGxlIjpmYWxzZSwiZGlzcGxheV9kZXNjcmlwdGlvbiI6ZmFsc2UsImlkIjoiZm9ybV81YjEzNjg3NzdhNWUyIiwidmFsdWVzIjpbXSwic3VibWl0X3RleHQiOiJTdWJtaXQiLCJyZWRpcmVjdCI6ZmFsc2UsInRhcmdldCI6Imh0dHA6XC9cL2dlcmloZWFsdGhob21lY2FyZS5jYVwvIiwiZWNobyI6dHJ1ZSwiZXhjbHVkZV9maWVsZHMiOltdLCJ1cGxvYWRlciI6IndwIiwiZmlsdGVyX21vZGUiOmZhbHNlfQ=="><input type="hidden" name="_acf_form" value="eyJkaXNwbGF5X3RpdGxlIjpmYWxzZSwiZGlzcGxheV9kZXNjcmlwdGlvbiI6ZmFsc2UsImlkIjoiZm9ybV81YjEzNjg3NzdhNWUyIiwidmFsdWVzIjpbXSwic3VibWl0X3RleHQiOiJTdWJtaXQiLCJyZWRpcmVjdCI6ZmFsc2UsInRhcmdldCI6Imh0dHA6XC9cL2dlcmloZWFsdGhob21lY2FyZS5jYVwvIiwiZWNobyI6dHJ1ZSwiZXhjbHVkZV9maWVsZHMiOltdLCJ1cGxvYWRlciI6IndwIiwiZmlsdGVyX21vZGUiOmZhbHNlfQ=="></div><div id="" class="acf-form__input" data-name="name" data-key="field_5b13352911b24" data-type="text"><div class="af-label acf-label"><label for="acf-field_5b13352911b24">Name</label></div><div class="af-input acf-input"><div class="acf-input-wrap"><input type="text" id="acf-field_5b13352911b24" name="acf[field_5b13352911b24]" placeholder="Name"></div></div></div><div id="" class="acf-form__input" data-name="email" data-key="field_5b13360e11b25" data-type="text"><div class="af-label acf-label"><label for="acf-field_5b13360e11b25">Email</label></div><div class="af-input acf-input"><div class="acf-input-wrap"><input type="text" id="acf-field_5b13360e11b25" name="acf[field_5b13360e11b25]" placeholder="Email"></div></div></div><div id="" class="acf-form__input" data-name="message" data-key="field_5b13362211b26" data-type="textarea"><div class="af-label acf-label"><label for="acf-field_5b13362211b26">Message</label></div><div class="af-input acf-input"><textarea id="acf-field_5b13362211b26" name="acf[field_5b13362211b26]" placeholder="Message" rows="8"></textarea></div></div><div class="af-submit acf-form-submit"><button type="submit" class="acf-button af-submit-button">Submit</button><span class="acf-spinner af-spinner"></span></div></div></form>
	</div>
</section>