---
title: Geri Health Home Care
layout: default.hbs
---

<style>
	#hero-panel-image-1 {
		background-image: 
			linear-gradient(rgb(0, 0, 0, .4), rgb(0, 0, 0, .4)),
			linear-gradient(rgb(63, 81, 181, .75), rgb(63, 81, 181, .75)),
			url('images/medical-checkup-2.jpg');
	}
	#hero-panel-image-2 {
		background-image:
			linear-gradient(rgb(0, 0, 0, .4), rgb(0, 0, 0, .4)),
			linear-gradient(rgb(63, 81, 181, .75), rgb(63, 81, 181, .75)),
			url('images/medical-checkup.jpg');
	}
</style>
<section class="hero-panel">
	<div class="hero-panel__carousel carousel swiper-container">
		<ul class="carousel__list swiper-wrapper">
			<!-- Slides -->
			<li class="carousel__item hero-panel__item swiper-slide" id="hero-panel-image-1">
				<div class="hero-panel__container hero-panel__container--left">
					<div class="hero-panel__content">
						<h1>24/7 Support</h1>
						<p>Delivering <b>excellence</b> and <b>quality</b> client-centered home care support</p>
					</div>
				</div>
			</li>
			<li class="carousel__item hero-panel__item swiper-slide" id="hero-panel-image-2">
				<div class="hero-panel__container hero-panel__container--right">
					<div class="hero-panel__content">
						<p class="hero-panel__text">You are Encourage, Engage and Empower to make health choices and decisions.</p>
					</div>
				</div>
			</li>
			<li class="carousel__item hero-panel__item swiper-slide" id="hero-panel-image-3">
				<div class="hero-panel__container">
					<div class="hero-panel__content">
						<p class="hero-panel__text">We deliver you the support and care you need to maintain safe, independent and caring environment</p>
					</div>
				</div>
			</li>
		</ul>

		<div class="swiper-pagination"></div>
	</div>
</section>

<div class="info-bar info-bar--primary-dark info-bar--center">
	<div class="info-bar__container">
		<p class="info-bar__text info-bar__text--uppercase info-bar__text--lg">We stand by you for your home care matters</p>
	</div>
</div>

<div class="philosophy-panel__container">
	<h2>This is a test</h2>
</div>

<!--
<section class="services panel panel--center">

	<div class="panel__container">
		<h1 class="services__heading panel__heading">Services</h1>
		<p class="services__text panel__text">We offer full range of in-home health care services with individualized Care plans including personal care, home making, after hospital discharge care, and specialized nursing services.</p>
		<div class="divider"></div>
		<button class=" button">Learn more</button>

		<ul class="services__list row">
			<li class="services__item column">
				<picture class="services__picture">
					<img src="/images/vector/nurse.svg" alt="" class="services__image">
				</picture>
				<p>Geriatric Care</p>
			</li>
			<li class="services__item column">
				<picture class="services__picture">
					<img src="/images/vector/cardiogram.svg" alt="" class="services__image">
				</picture>
				<p>Chronix Complex Care</p>
			</li>
			<li class="services__item column">
				<picture class="services__picture">
					<img src="/images/vector/hospital.svg" alt="" class="services__image">
				</picture>
				<p>After Hospital Discharge Care</p>
			</li>
			<li class="services__item column">
				<picture class="services__picture">
					<img src="/images/vector/ambulance.svg" alt="" class="services__image">
				</picture>
				<p>Mobility Assistance</p>
			</li>
			<li class="services__item column">
				<picture class="services__picture">
					<img src="/images/vector/water.svg" alt="" class="services__image">
				</picture>
				<p>Personal Hygiene Care</p>
			</li>
			<li class="services__item column">
				<picture class="services__picture">
					<img src="/images/vector/bed.svg" alt="" class="services__image">
				</picture>
				<p>In-home Respite Support</p>
			</li>
			<li class="services__item column">
				<picture class="services__picture">
					<img src="/images/vector/heart.svg" alt="" class="services__image">
				</picture>
				<p>Paliative Care</p>
			</li>
			<li class="services__item column">
				<picture class="services__picture">
					<img src="/images/vector/placeholder.svg" alt="" class="services__image">
				</picture>
				<p>24/7 Assistance</p>
			</li>
		</ul>
	</div>

</section>
-->

{{!-- 
<style>
	#summary-panel {
		background-image: url('/images/female-nurse.png');
	}
</style> --}}
<section class="summary panel panel--off-white" id="summary-panel">
	<div class="panel__container row">
		<div class="summary__content column column--5">
			<h2 class="panel__heading">Geri Health Home Care</h2>
			<p class="panel__text">Geri Health Home Care is a team of Healthcare professionals which include Registered Nurses and Registered Practical Nurses. Our Personal Support workers (PSW), Caregivers and Housekeepers are highly qualified, experienced, caring, compassionate and trustworthy.</p>
			<a class="button button--inline" href="/about-us.html">Learn more</a>
		</div>
		<div class="column">
			<picture class="summary__picture">
				<img src="/images/female-nurse.png" alt="" class="summary__image">
			</picture>
		</div>
	</div>
</section>

<section class="contact panel panel--center">
	<div class="panel__container">
		<h2 class="panel__heading">CONTACT</h2>
		<div class="divider"></div>
		<p class="panel__text">Need more information? 
			<br>Call or message us for help.</p>
		<p class="panel__text"><b>416-431-6266</b>
			<br><b>info@gerihealthhomecare.com</b></p>
			<form class="af-form acf-form" method="POST" action="http://gerihealthhomecare.ca/" id="form_5b1368777a5e2"><div class="af-fields acf-fields acf-form-fields"><div id="acf-form-data"><input type="hidden" name="_acfnonce" value=""></div><div class="acf-hidden"><input type="hidden" name="af_form" value="form_5b1368777a5e2"><input type="hidden" name="af_form_args" value="eyJkaXNwbGF5X3RpdGxlIjpmYWxzZSwiZGlzcGxheV9kZXNjcmlwdGlvbiI6ZmFsc2UsImlkIjoiZm9ybV81YjEzNjg3NzdhNWUyIiwidmFsdWVzIjpbXSwic3VibWl0X3RleHQiOiJTdWJtaXQiLCJyZWRpcmVjdCI6ZmFsc2UsInRhcmdldCI6Imh0dHA6XC9cL2dlcmloZWFsdGhob21lY2FyZS5jYVwvIiwiZWNobyI6dHJ1ZSwiZXhjbHVkZV9maWVsZHMiOltdLCJ1cGxvYWRlciI6IndwIiwiZmlsdGVyX21vZGUiOmZhbHNlfQ=="><input type="hidden" name="_acf_form" value="eyJkaXNwbGF5X3RpdGxlIjpmYWxzZSwiZGlzcGxheV9kZXNjcmlwdGlvbiI6ZmFsc2UsImlkIjoiZm9ybV81YjEzNjg3NzdhNWUyIiwidmFsdWVzIjpbXSwic3VibWl0X3RleHQiOiJTdWJtaXQiLCJyZWRpcmVjdCI6ZmFsc2UsInRhcmdldCI6Imh0dHA6XC9cL2dlcmloZWFsdGhob21lY2FyZS5jYVwvIiwiZWNobyI6dHJ1ZSwiZXhjbHVkZV9maWVsZHMiOltdLCJ1cGxvYWRlciI6IndwIiwiZmlsdGVyX21vZGUiOmZhbHNlfQ=="></div><div id="" class="acf-form__input" data-name="name" data-key="field_5b13352911b24" data-type="text"><div class="af-label acf-label"><label for="acf-field_5b13352911b24">Name</label></div><div class="af-input acf-input"><div class="acf-input-wrap"><input type="text" id="acf-field_5b13352911b24" name="acf[field_5b13352911b24]" placeholder="Name"></div></div></div><div id="" class="acf-form__input" data-name="email" data-key="field_5b13360e11b25" data-type="text"><div class="af-label acf-label"><label for="acf-field_5b13360e11b25">Email</label></div><div class="af-input acf-input"><div class="acf-input-wrap"><input type="text" id="acf-field_5b13360e11b25" name="acf[field_5b13360e11b25]" placeholder="Email"></div></div></div><div id="" class="acf-form__input" data-name="message" data-key="field_5b13362211b26" data-type="textarea"><div class="af-label acf-label"><label for="acf-field_5b13362211b26">Message</label></div><div class="af-input acf-input"><textarea id="acf-field_5b13362211b26" name="acf[field_5b13362211b26]" placeholder="Message" rows="8"></textarea></div></div><div class="af-submit acf-form-submit"><button type="submit" class="acf-button af-submit-button">Submit</button><span class="acf-spinner af-spinner"></span></div></div></form>
	</div>
</section>