---
title: Services
layout: default
---

<section class="hero-panel hero-panel--center panel">
	<div class="panel__container">
		<h1 class="hero-panel__heading">Services</h1>
	</div>
</section> 

<section class="services panel panel--center">

	<div class="panel__container">
		<h1 class="services__heading panel__heading">Services</h1>
		<p class="services__text panel__text">We offer full range of in-home health care services with individualized Care plans including personal care, home making, after hospital discharge care, and specialized nursing services.</p>
		<div class="divider"></div>

		<ul class="services__list row">
			<li class="services__item column">
				<picture class="services__picture">
					<img src="/images/vector/nurse.svg" alt="" class="services__image">
				</picture>
				<p>Geriatric Care</p>
			</li>
			<li class="services__item column">
				<picture class="services__picture">
					<img src="/images/vector/cardiogram.svg" alt="" class="services__image">
				</picture>
				<p>Chronix Complex Care</p>
			</li>
			<li class="services__item column">
				<picture class="services__picture">
					<img src="/images/vector/hospital.svg" alt="" class="services__image">
				</picture>
				<p>After Hospital Discharge Care</p>
			</li>
			<li class="services__item column">
				<picture class="services__picture">
					<img src="/images/vector/ambulance.svg" alt="" class="services__image">
				</picture>
				<p>Mobility Assistance</p>
			</li>
			<li class="services__item column">
				<picture class="services__picture">
					<img src="/images/vector/water.svg" alt="" class="services__image">
				</picture>
				<p>Personal Hygiene Care</p>
			</li>
			<li class="services__item column">
				<picture class="services__picture">
					<img src="/images/vector/bed.svg" alt="" class="services__image">
				</picture>
				<p>In-home Respite Support</p>
			</li>
			<li class="services__item column">
				<picture class="services__picture">
					<img src="/images/vector/heart.svg" alt="" class="services__image">
				</picture>
				<p>Paliative Care</p>
			</li>
			<li class="services__item column">
				<picture class="services__picture">
					<img src="/images/vector/placeholder.svg" alt="" class="services__image">
				</picture>
				<p>24/7 Assistance</p>
			</li>
		</ul>
	</div>

</section>

<section class="panel panel--text-light">
	<div class="panel__container">
		<div class="row">
			<div class="column column--6 column--push-1">
				<h2 class="panel__heading">
					Registered Nurses
				</h2>
				<p class="panel__subheading">Registed Practical Nurses, Personal Support Workers</p>
				<p class="panel__text">Our Registered Staff are experienced with specialized nursing skills set which match to your health care needs.</p>
				<a href="" class="button">Inquire now</a>
			</div>
		</div>
	</div>
</section>

<section class="services-panel panel panel--off-white panel--text-light">
	<div class="panel__container">
		<div class="row">
			<div class="column column--8 column--push-4">
				<h2 class="panel__heading">
					Our individual services:
				</h2>
				<p class="panel__text">We provide caring support by our trusted and experienced staffs with your activities of daily living support such as follows:</p>
			</div>
		</div>
		<div class="services-panel__row row">
			<div class="column column--4">
				<div class="divider divider--left"></div>
				<ul class="services-panel__list panel__list">
					<li class="services-panel__item panel__item"><a href="#geriatric-care" class="panel__item">Geriatric care</a></li>
					<li class="services-panel__item panel__item"><a href="#chronic-complex-care" class="panel__item">Chronic Complex care</a></li>
					<li class="services-panel__item panel__item"><a href="#after-hospital-discharge-care" class="panel__item">After Hospital Discharge care</a></li>
					<li class="services-panel__item panel__item"><a href="" class="panel__item">Mobility Assistance</a></li>
					<li class="services-panel__item panel__item"><a href="" class="panel__item">Palliative care</a></li>
					<li class="services-panel__item panel__item"><a href="" class="panel__item">Personal Hygiene care</a></li>
					<li class="services-panel__item panel__item"><a href="" class="panel__item">Companion</a></li>
					<li class="services-panel__item panel__item"><a href="" class="panel__item">Meal planning</a></li>
					<li class="services-panel__item panel__item"><a href="" class="panel__item">Light house keeping</a></li>
					<li class="services-panel__item panel__item"><a href="" class="panel__item">In home respite care</a></li>
					<li class="services-panel__item panel__item"><a href="" class="panel__item">24/7 Support</a></li>
				</ul>
			</div>
			<div class="column">
				<div class="services-panel__service" id="geriatric-care">
					<h2 class="services-panel__heading">Geriatric care</h2>
					<p class="panel__text">We provide supportive and caring environment to your beloved parents in their activities of daily living. Our caregivers are experienced in delivering supportive care with seniors with chronic illnesses such as arthritis, diabetes, hypertension, Parkinsons, Multiple Sclerosis, alzheimer’s and dementia and other physically debilitating comorbities.</p>
				</div>

				<div class="services-panel__service" id="chronic-complex-care">
					<h2 class="services-panel__heading">Chronic Complex care</h2>
					<p class="panel__text">We deliver specialize care such as dialysis, tracheostomy care, PEG tube feeding/medication administration, complex wound care dressing, catheter care</p>
				</div>

				<div class="services-panel__service" id="after-hospital-discharge-care">
					<h2 class="services-panel__heading">After Hospital Discharge</h2>
					<p class="panel__text">We deliver supportive care while you’re recovering at home.</p>
				</div>
			</div>
		</div>
	</div>
</section>