<footer class="footer">
	<div class="info-bar info-bar--primary info-bar--center">
		<div class="info-bar__container">
			<p class="info-bar__text">CALL for free in-home assessment and set your Personalized Care Plan by You and Registered Nurse Care Coordinator</p>
		</div>
	</div>
	<div class="footer__container">
		<div class="row">
			<div class="footer__links-list column">
				<h2 class="footer__heading">Links</h2>
				<ul class="footer__list">
					<li class="footer__item"><a class="footer__link" href="/index.html">Home</a></li>
					<li class="footer__item"><a class="footer__link" href="/about-us.html">About Us</a></li>
					<li class="footer__item"><a class="footer__link" href="/get-started.html">Get Started</a></li>
					<li class="footer__item"><a class="footer__link" href="/services.html">Services</a></li>
					<li class="footer__item"><a class="footer__link" href="/careers.html">Careers</a></li>
					<li class="footer__item"><a class="footer__link" href="/client-resources.html">Client Resources</a></li>
					<li class="footer__item"><a class="footer__link" href="/contact-us.html">Contact Us</a></li>
				</ul>
			</div>
					<div class="footer__blog column">
						<h2 class="footer__heading">Latest posts</h2>
						<ul class="footer__list">
							<li class="footer__item">First post</li>
							<li class="footer__item">Second post</li>
							<li class="footer__item">Third post</li>
							<li class="footer__item">Fourth post</li>
						</ul>
					</div>
					<div class="footer__social-media column">
						<h2 class="footer__heading">Follow Us!</h2>
						<ul class="footer__list">
							<li class="footer__item">Twitter</li>
							<li class="footer__item">Facebook</li>
						</ul>
					</div>
		</div>
		<div class="row">
			<div class="footer__about column">
				<h2 class="footer__heading">Geri Health Home Care</h2>
				<p class="footer__description">Geri Health Home Care is a team of RNs, RPNs, PSWs and Caregivers/Housekeepers which offers full line of specialized home health care services, in hospital private care, and in retirement/long term home care to seniors and individuals of all ages and their families in GTA and surrounding area.
					<br>
					<br>Office location: <a href="https://goo.gl/maps/2Zjttg18cey" target="_blank"><u>Suite LL26</u> - 1200 Markham Rd. Toronto, Ontario M1H 3C3</a>
				</p>
			</div>
		</div>
	</div>
</footer>