<header class="header">
	<div class="header__logo logo" id="mobile-logo">
			<picture class="logo__picture">
				<a href=""><img src="images/geri-health-home-care-logo.png" alt="Geri Health Home Care logo" class="logo__image"></a>
			</picture>
	</div>
	<div class="header__info-bar info-bar">
		<button class="header__button" id="button-nav" aria-controls="header-nav"><span class="hidden">Menu</span></button>
		<div class="info-bar__container">
			<ul class="info-bar__list">
				<li class="info-bar__item info-bar__item--email" email><span class="hidden">Email</span><a href="mailto:info@gerihealthhomecare.com">info@gerihealthhomecare.ca</a></li>
				<li class="info-bar__item info-bar__item--phone"><span class="hidden">Phone</span><a href="tel:1-416-431-6266">416-431-6266</a></li>
			</ul>
		</div>
	</div>
	<nav class="header__nav nav" id="header-nav" aria-hidden>
		<div class="header__logo logo">
				<picture class="logo__picture">
					<img src="images/geri-health-home-care-logo.png" alt="Geri Health Home Care logo" class="logo__image">
				</picture>
		</div>
		<ul class="nav__list">
			<li class="nav__item"><a class="nav__link" href="/index.html">Home</a></li>
			<li class="nav__item"><a class="nav__link" href="/about-us.html">About Us</a></li>
			<li class="nav__item"><a class="nav__link" href="/get-started.html">Get Started</a></li>
			<li class="nav__item"><a class="nav__link" href="/services.html">Services</a></li>
			<li class="nav__item"><a class="nav__link" href="/careers.html">Careers</a></li>
			<li class="nav__item"><a class="nav__link" href="/client-resources.html">Client Resources</a></li>
			<li class="nav__item"><a class="nav__link" href="/contact-us.html">Contact Us</a></li>
		</ul>
	</nav>
</header>